.search-form {
  position: relative;

  & .search-input {
    width: 300px;
    min-width: 250px;
    padding: 0.5rem;

    &:focus {
      border: none;
    }
  }
  & .autocomplete {
    position: absolute;
    z-index: 10;
    width: 100%;
    max-height: 300px;
    height: auto;
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 7px 12px 7px rgba(34, 46, 80, 0.2);
    & .autocomplete-item {
      display: block;
      padding: 0.5rem;
      text-align: left;
      color: black;
      &:hover,
      &:focus {
        background-color: rgb(243, 212, 212);
        cursor: pointer;
      }
    }
  }
}
